<div class="next-previous">
  {% assign cat = page.categories[0] %}
{% assign cat_list = site.categories[cat] %}
{% for post in cat_list %}
  {% if post.url == page.url %}
  	{% assign pOffset = forloop.index0 | minus: 1 %}
  	{% assign nOffset = pOffset | plus: 2 %}

  	{% if forloop.last == false %}
  	  {% assign previous_post = cat_list[nOffset] %}
      <span class="next-previous-item btn btn-danger d-inline-block text-truncate" style="max-width: 45%;">
        <a href="{{ previous_post.url }}"> <<{{ previous_post.title }} </a>
      </span>
  	{% endif %}
  	{% if forloop.first == false %}
  	  {% assign next_post = cat_list[pOffset] %}
      <span class="next-previous-item btn btn-info d-inline-block text-truncate" style="max-width: 45%;">
        <a href="{{ next_post.url }}"> >>{{ next_post.title }}</a>
      </span>
  	{% endif %}

  	{% break %}
  {% endif %}
{% endfor %}
</div>