<div class="next-previous">
  {% assign cat = page.categories[0] %}
{% assign cat_list = site.categories[cat] %}
{% for post in cat_list %}
  {% if post.url == page.url %}
  	{% assign pOffset = forloop.index0 | minus: 1 %}
  	{% assign nOffset = pOffset | plus: 2 %}

  	{% if forloop.last == false %}
  	  {% assign previous_post = cat_list[nOffset] %}
      <div>
       <span style="font-weight: bold;">Previous</span>
        <a href="{{ previous_post.url }}" class="next-previous-item btn btn-outline-warning btn-sm d-inline-block text-truncate" style="max-width: 45%;"> {{ previous_post.title }} </a>
      </div>
  	{% endif %}
  	{% if forloop.first == false %}
  	  {% assign next_post = cat_list[pOffset] %}
      <div>
      <span style="font-weight: bold;">Next</span>
        <a href="{{ next_post.url }}" class="next-previous-item btn btn-outline-info btn-sm d-inline-block text-truncate" style="max-width: 45%;">{{ next_post.title }}</a>
      </div>
  	{% endif %}

  	{% break %}
  {% endif %}
{% endfor %}
</div>